﻿@model IEnumerable<KutuphaneTS.Models.ORM.KitapModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}




<div class="cl-mcont">
   
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Kitaplar</h3>
                </div>
                <div class="content">
                    <input id="searchterm" type="text" placeholder="Ara..." /><br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.KitapAdi)</th>
                                    <th>@Html.DisplayNameFor(model => model.Yazar)</th>
                                    <th>@Html.DisplayNameFor(model => model.RafNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.BasimTarihi)</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody id="sonuc">
                                @foreach (var item in Model)
                                {
                                    if (item.KutuphanedeMi == 1)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KitapAdi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Yazar)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RafNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BasimTarihi)
                                        </td>
                                        <td><a href="/User/OduncAl?kitapid=@item.KitapID&kullaniciid=@Session["userID"]"><input type="button" class="btn btn-default" value="Ödünç Al" data-id="@item.KitapAdi" /></a></td>
                                        
                                    </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>




<script src="~/scripts/jquery-3.0.0.js"></script>

<script>
    $(document).on("click", ".delete-row", function () {
        var deleteconfirm = confirm("silme işlemini onaylıyor musunuz?");
        if (deleteconfirm)
        {
            var id = $(this).attr("data-id");
            var deleteTr = $(this).closest("tr");
            $.ajax({
                type: 'POST',
                url: '/User/Delete/' + id,
                success: function (result) {
                    if (result == "1") {
                        deleteTr.fadeOut(500,function(){


                            deleteTr.remove();
                        })
                    }
                    else {
                        alert("hata");
                    }
                }

            })
        }


        });
</script>

<script>
    $("#btnAl").click(function () {
        var k = new Object();
        k.KitapID = $("#kitapid").attr("data-id");
        var a = Date("2015-03-25");
        k.AlinmaTarihi = a;
        
        console.log(k);

        $.ajax({
            type: "post",
            dataType: "json",
            data: k,

            url: "User/OduncAl",
            success: function (result) {
                if (result == "tamamlandi")
                    alert("eklendi");
                else
                    alert("hata");
            }

        });
        });
</script>


<script>
        $('#searchterm').keyup(function () {
            var deger = $(this).val();

                $.ajax({
                    type: "GET",
                    url: 'http://localhost:5185/api/Kitap/GetKitapListele',
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var o = '';
                        for (var i = 0; i < data.length; i++) {
                            o += '<tr>';
                            o += '<td>' + data[i].KitapAdi + '</td>';
                            o += '<td>' + data[i].Yazar + '</td>';
                            o += '<td>' + data[i].RafNo + '</td>';
                            o += '<td>' + data[i].BasimTarihi + '</td>';
                            o += '<td><input type="button" class="delete-row" value="sil" data-id="'+data[i].KitapAdi+'"/></td>';
                            o += '</tr>';
                        }
                        $('#sonuc').html(o);
                    }
                    else
                        $('#sonuc').html("hata");
                })


            if(deger != null)
            {
                $.ajax({
                    type: "GET",
                    url: 'http://localhost:5185/api/Kitap/GetKitapAra/' + deger,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var o = '';
                        for (var i = 0; i < data.length; i++) {
                            o += '<tr>';
                            o += '<td>' + data[i].KitapAdi + '</td>';
                            o += '<td>' + data[i].Yazar + '</td>';
                            o += '<td>' + data[i].RafNo + '</td>';
                            o += '<td>' + data[i].BasimTarihi + '</td>';
                            o += '<td><input type="button" class="delete-row" value="sil" data-id="' + data[i].KitapAdi + '"/></td>';
                            o += '</tr>';
                        }
                        $('#sonuc').html(o);
                    }
                    else
                        $('#sonuc').html("hata");
                })
            }

        });
</script>



