﻿@model IEnumerable<KutuphaneTS.Models.DB.kitaplar>
@{
    ViewBag.Title = "OduncAlinanlar";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Alınan Kitaplar</h3>
                </div>
                <div class="content">
                    <input id="searchterm" type="text" placeholder="Ara..." /><br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.KitapAdi)</th>
                                    <th>@Html.DisplayNameFor(model => model.Yazar)</th>
                                    <th>@Html.DisplayNameFor(model => model.RafNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.BasimTarihi)</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody id="sonuc">
                                @foreach (var item in Model)
                                {
                                    foreach (var item1 in ViewBag.alinanlar)
                                    {
                                        if (item.KitapID == item1.KitapID)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.KitapAdi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Yazar)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RafNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BasimTarihi)
                                            </td>
                                            <td><a href="/User/Iade?kitapid=@item.KitapID"><input type="button" class="btn btn-default" value="İade Et" data-id="@item.KitapAdi" /></a></td>

                                        </tr>
                                            }
                                        }
                                    }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


