﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/icon.jpg">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <title>@ViewBag.Title | Kütüphane Takip Sistemi</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Tema/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Tema/css/jquery.gritter.css" />
    <link rel="stylesheet" href="~/Content/Tema/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Tema/css/nanoscroller.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/Tema/css/datatables.css" />

    <link href="~/Content/Tema/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/Tema/css/sweetalert.css">



</head>
<body class="animated">
    <div id="cl-wrapper">

        <div class="cl-sidebar">
            <div class="cl-toggle"><i class="fa fa-bars"></i></div>
            <div class="cl-navblock">
                <div class="menu-space">
                    <div class="content">
                        <div class="sidebar-logo">
                            <img class="logo-img" src="~/Content/img/logo.png" style="width:175px; " />
                        </div>
                        <div class="side-user">
                            <div class="avatar"></div>

                        </div>
                        <ul class="cl-vnavigation">
                            <li><a href="/Admin"><i class="fa fa-home"></i><span>Anasayfa</span></a></li>
                            <li class="active">
                                <a href="/Admin/KitapEkle"><i class="fa fa-plus-circle"></i><span>Kitap Ekle</span></a>

                            </li>
                            <li>
                                <a href="/Admin/Uyeler"><i class="fa fa-user"></i><span>Üyeler</span></a>

                            </li>
                           
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="text-right collapse-button" style="padding:7px 9px;">
                    <input type="text" class="form-control search" placeholder="Search..." />
                    <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="pcont">
            <!-- TOP NAVBAR -->
            <div id="head-nav" class="navbar ">
                <div class="container-fluid">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right user-nav">
                            <li class="dropdown profile_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>@Session["adi"] @Session["soyadi"]</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Profile</a></li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Çıkış", "LogOff", "Admin")</li>
                                </ul>
                            </li>
                        </ul>
                        

                    </div><!--/.nav-collapse animate-collapse -->
                </div>
            </div>
            @RenderBody()
        </div>
    </div>





    <!-- Right Chat-->


    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.cookie.js"></script>
    <script src="~/scripts/jPushMenu.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/scripts/core.js"></script>





    <script type="text/javascript" src="~/scripts/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/scripts/datatables.js"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/scripts/voice-commands.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.flot.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.flot.labels.js"></script>
    <script src="~/scripts/sweetalert.min.js"></script>
    <script src="~/scripts/sweetalert-dev.js"></script>
    
    <script type="text/javascript">
        $(document).on("click", ".devredisi", function () {
			var id = $(this).attr("id");
			var adi = $(this).attr("data-id");
			var deleteTr = $(this).closest("tr");
				swal({
				title: "Devredışı bırakmak istiyor musunuz?",
				text: adi,
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#9ED7E8",
				confirmButtonText: "Evet ",
				cancelButtonText: "Hayır ",
				closeOnConfirm: false,
				//closeOnCancel: false
				},
				function(isConfirm){
				if (isConfirm) {


					$.ajax({
						url: "/Admin/Devredisi/" + id,
						type: 'POST',
						success: function (result) {
                        if (result==true) {
							swal("Devredışı bıraktınız !", "", "success");

							$('#durum_' + id).html('<button type="button" class="btn btn-danger btn-sm aktiflestir" value="Sil" data-id="'+adi+'" id="'+id+'">Devredışı</button>');

						}
                        else {
                            swal("Başarısız!", "", "error");
                        }

						}
                })

				} else {
				swal("İptal Ettiniz", "", "error");
				} })
		});

    </script>

    <script type="text/javascript">
        $(document).on("click", ".aktiflestir", function () {
			var id = $(this).attr("id");
			var adi = $(this).attr("data-id");
			var deleteTr = $(this).closest("tr");
				swal({
				title: "Aktifleştirmek istiyor musunuz?",
				text: adi,
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#9ED7E8",
				confirmButtonText: "Evet ",
				cancelButtonText: "Hayır ",
				closeOnConfirm: false,
				//closeOnCancel: false
				},
				function(isConfirm){
				if (isConfirm) {


					$.ajax({
						url: "/Admin/Aktiflestir/" + id,
						type: 'POST',
						success: function (result) {
                        if (result==true) {
							swal("Aktif Edildi !", "", "success");

							$('#durum_' + id).html('<button type="button" class="btn btn-success btn-sm devredisi" value="Sil" data-id="'+adi+'" id="'+id+'">Aktif</button>');

						}
                        else {
                            swal("Başarısız!", "", "error");
                        }

						}
                })

				} else {
				swal("İptal Ettiniz", "", "error");
				} })
		});

    </script>


</body>
</html>


