﻿@model IEnumerable<KutuphaneTS.Models.ORM.KitapModel>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Anasayfa</h2>


<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Kitaplar</h3>
                </div>
                <div class="content">
                    <input id="searchterm" type="text" placeholder="Ara..." /><br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.KitapAdi)</th>
                                    <th>@Html.DisplayNameFor(model => model.Yazar)</th>
                                    <th>@Html.DisplayNameFor(model => model.RafNo)</th>
                                    
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody id="sonuc">
                                @foreach (var item in Model)
                                {
                                    
                                        <tr>
                                            <td title="Basım Tarihi: @Html.DisplayFor(modelItem => item.BasimTarihi)">
                                                @Html.DisplayFor(modelItem => item.KitapAdi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Yazar)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RafNo)
                                            </td>

                                            <td><a href="/Admin/KitapGuncelle?id=@item.KitapID"><input type="button" class="btn btn-default btn-sm" value="Güncelle" data-id="@item.KitapAdi" /></a>
                                                @if (item.KutuphanedeMi == 1)
                                                {<button type="button" class="btn btn-danger btn-sm kitapsil" value="Sil" data-id="@item.KitapAdi" id="@item.KitapID"><i class="fa fa-trash-o"></i></button>}
                                                
                                            </td>
                                        </tr>
                                    

                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>




<script src="~/scripts/jquery-3.0.0.js"></script>


<script type="text/javascript">
        $(document).on("click", ".kitapsil", function () {
			var id = $(this).attr("id");
			var adi = $(this).attr("data-id");
			var deleteTr = $(this).closest("tr");
				swal({
				title: "Silmek İstiyor musunuz?",
				text: adi,
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#9ED7E8",
				confirmButtonText: "Evet",
				cancelButtonText: "Hayır",
				closeOnConfirm: false,
				//closeOnCancel: false
				},
				function(isConfirm){
				if (isConfirm) {


					$.ajax({
						url: "Admin/KitapSil/" + id,
						type: 'POST',
						success: function (result) {
                        if (result=="1") {
							swal(adi+" Silindi", "", "success");
                            deleteTr.fadeOut(1500, function () {
                                deleteTr.remove();

                            })

						}
                        else {
                            swal("Silinemedi!", "", "error");
                        }

						}
                })

				} else {
				swal("İptal Ettiniz", "", "error");
				} })
		});

</script>


<script>
        $('#searchterm').keyup(function () {
            var deger = $(this).val();
            if (deger == null) {
                $.ajax({
                    type: "GET",
                    url: '/Admin/KitapListele',
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        var o = '';
                        for (var i = 0; i < data.length; i++) {
                            o += '<tr>';
                            o += '<td>' + data[i].KitapAdi + '</td>';
                            o += '<td>' + data[i].Yazar + '</td>';
                            o += '<td>' + data[i].RafNo + '</td>';
                            o += '<td>' + data[i].BasimTarihi + '</td>';
                            o += '<td><input type="button" class="delete-row" value="sil" data-id="' + data[i].KitapAdi + '"/></td>';
                            o += '</tr>';
                        }
                        $('#sonuc').html(o);
                    }
                    else
                        $('#sonuc').html("hata");
                })
            }

            if(deger != null)
            {
                $.ajax({
                    type: "GET",
                    url: '/Admin/KitapAra/' + deger,
                    datatype: 'json',
                    cache: false,
                })
                .success(function (data) {
                    if (data != null) {
                        console.log(data);
                        var data_array = $.parseJSON(data);
                        var o = '';
                        for (var i = 0; i < data_array.length; i++) {
                            o += '<tr>';
                            o += '<td>' + data_array[i].KitapAdi + '</td>';
                            o += '<td>' + data_array[i].Yazar + '</td>';
                            o += '<td>' + data_array[i].RafNo + '</td>';
                            o += '<td>' + data_array[i].BasimTarihi + '</td>';
                            o += '<td><input type="button" class="delete-row" value="sil" data-id="' + data_array[i].KitapAdi + '"/></td>';
                            o += '</tr>';
                        }
                        $('#sonuc').html(o);
                    }
                    else
                        $('#sonuc').html("hata");
                })
            }

        });
</script>

