﻿
@{
    ViewBag.Title = "KitapGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="block-flat">
            <div class="header">
                <h3>Kitap Güncelle</h3>
            </div>
            <div class="content">
                <form class="form-horizontal group-border-dashed" action="" method="post" parsley-validate novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kitap Adı</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required placeholder="" value="@ViewBag.kitap.KitapAdi" name="KitapAdi"/>
                            <input type="hidden" value="@ViewBag.kitap.KitapID" name="KitapID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Yazar</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required value="@ViewBag.kitap.Yazar" name="Yazar" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Raf No</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required value="@ViewBag.kitap.RafNo" name="RafNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Basım Tarihi</label>
                        <div class="col-sm-6">
                            <input type="text" data-mask="date" class="form-control" placeholder="DD/MM/YYYY" value="@ViewBag.kitap.BasimTarihi" name="BasimTarihi">
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>