﻿@model IEnumerable<KutuphaneTS.Models.ORM.UyeModel>
@{
    ViewBag.Title = "Uyeler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Uyeler</h3>
                </div>
                <div class="content">
                    <input id="searchterm" type="text" placeholder="Ara..." /><br />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Adi)</th>
                                    <th>@Html.DisplayNameFor(model => model.Soyadi)</th>
                                    <th>@Html.DisplayNameFor(model => model.EPosta)</th>
                                    

                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody id="sonuc">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Adi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Soyadi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EPosta)
                                        </td>

                                        <td id="durum_@item.KullaniciID">
                                            @if (@item.Yetki == 1)
                                            {<button type="button" class="btn btn-success btn-sm devredisi" value="" data-id="@item.Adi @item.Soyadi" id="@item.KullaniciID">Aktif</button>}
                                            else
                                            {<button type="button" class="btn btn-danger btn-sm aktiflestir" value="" data-id="@item.Adi @item.Soyadi" id="@item.KullaniciID">Devredışı</button>}
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

