﻿@{
    Layout = null;
}
@model KutuphaneTS.Models.DB.kullanicilar
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/icon.jpg">
    <title>Kütüphane Takip Sistemi</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/Content/Tema/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Tema/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="/Content/Tema/css/style.css" rel="stylesheet" />
</head>
<body class="texture">

    <div id="cl-wrapper" class="sign-up-container">
        <div class="middle-sign-up">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center"><img class="logo-img" src="~/Content/img/logo.png" style="width:175px; " alt="logo" /></h3>
                </div>
                <div>
                    @using (Html.BeginForm())
                    {
                        <div class="content">
                            <h5 class="title text-center"><strong>Kayıt</strong></h5>
                            <hr />
                            @ViewBag.mesaj
                            <!--<div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn btn-block btn-trans btn-facebook bg btn-rad" type="button"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn btn-block btn-trans btn-twitter bg btn-rad" type="button"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
                                </div>
                            </div>
                            <p class="text-center">Or</p>-->

                            
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        @Html.TextBoxFor(a => a.Adi, new { @class = "form-control", @placeholder = "Adınız" })
                                        <!--<input type="text" name="nick" parsley-trigger="change" parsley-error-container="#nick-error" required placeholder="Username" class="form-control">-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        @Html.TextBoxFor(a => a.Soyadi, new { @class = "form-control", @placeholder = "Soyadınız" })
                                        <!--<input type="text" name="nick" parsley-trigger="change" parsley-error-container="#nick-error" required placeholder="Username" class="form-control">-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        @Html.TextBoxFor(a => a.EPosta, new { @class = "form-control", @placeholder = "Eposta" })
                                    </div>
                                    @Html.ValidationMessageFor(a => a.EPosta)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(a => a.Sifre, new { @class = "form-control", @placeholder = "Sifre" })
                                        <!--<input id="pass1" type="password" parsley-error-container="#password-error" placeholder="Password" required class="form-control">-->
                                    </div>
                                    @Html.ValidationMessageFor(a => a.Sifre)
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(a => a.Sifre, new { @class = "form-control", @placeholder = "Sifre Tekrar" })
                                        <!--<input parsley-equalto="#pass1" type="password" parsley-error-container="#confirmation-error" required placeholder="Password" class="form-control">-->
                                    </div>
                                    @Html.ValidationMessageFor(a => a.Sifre)
                                    <!--<div id="confirmation-error"></div>-->
                                </div>
                            </div>
                            <button class="btn btn-block btn-success btn-rad btn-lg" type="submit">Kayıt Ol</button>

                        </div>
                    }
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2016 Kütüphane</a></div>
        </div>

    </div>

    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jquery.parsley/parsley.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function(){
      $("#cl-wrapper").css({opacity:1,'margin-left':0});
    });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/scripts/behaviour/voice-commands.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.flot.js"></script>
    <script type="text/javascript" src="/scripts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/scripts/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/scripts/jquery.flot.labels.js"></script>
</body>
</html>
